  <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Forgot - Clube Da Dança</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"/>
    <!-- Bulma Version 0.7.1-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/login.css"/>
</head>

<body>
    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-grey">Forgot</h3>
                    <p class="subtitle has-text-grey">Please enter your email.</p>
                    <div class="box">
                        <figure class="avatar">
                            <img src="http://lorempixel.com/g/128/128/"/>
                        </figure>
                        <form method="post" action="/login">
                            <div class="field">
                                <div class="control">
                                    <input name="username" class="input is-large" type="email" placeholder="Your Email" autofocus=""/>
                                </div>
                            </div>
                            <button class="button is-block is-info is-large is-fullwidth">Send Email</button>
                        </form>
                    </div>
                    <p class="has-text-grey">
                        <a href="sign_up">Sign Up</a> &nbsp;·&nbsp;
                        <a href="help">Need Help?</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <script async type="text/javascript" src="../js/bulma.js"></script>
</body>

</html>